@page "/counter"
@using AuthenticationDemo.Pages.Component

<h1>Counter</h1>
<SecondSessionComponent></SecondSessionComponent>
<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<DateTimeComponent></DateTimeComponent>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
        protected override void OnAfterRender(bool firstRender)
        {
            base.OnAfterRender(firstRender);
        }
}
