@page "/formcomponetrender"

<h3>FormComponent</h3>
<form>
    <FormDesignComponent label="Email">
        <Controls>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </Controls>
    </FormDesignComponent>
    <FormDesignComponent label="Password">
        <Controls>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </Controls>
    </FormDesignComponent>
    <FormDesignComponent label="Check me out">
        <Controls>
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
        </Controls>   
    </FormDesignComponent>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@code {

}
